extends layout



block main-content   
    
    nav.navbar.navbar-expand-lg.bg-body-tertiary
      .container-fluid
        a.navbar-brand.fontStyle.fs-2.mx-auto(href="/") My Home
        button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
          span.navbar-toggler-icon
        .collapse.navbar-collapse.text1(id="navbarSupportedContent")
          ul.navbar-nav.ms-auto.mb-2.mb-lg-0
            li.nav-item
              a.nav-link.fs-5(aria-current="page", href="/") Home
            li.nav-item
              a.nav-link.active.fs-5(href="/shop") Shop
            li.nav-item
              a.nav-link.fs-5(href="/news") News    
            li.nav-item
              a.nav-link.fs-5(href="/about") About
            li.nav-item 
                a.nav-link(href="/cart")
                    img(src="/images/cart-shopping-solid.svg", alt="Add to Cart", style="max-width: 1.5rem; height: auto; min-width:1.4rem;")  
              
            


    .container.mt-5
      .row.justify-content-center
        .col-md-6
          form(action="/shop/add-product/submit" method="post" class="mt-5")
            .form-group
              label(for="productName") Product Name:
              input(type="text", id="productName", name="name", class="form-control", placeholder="Standing Mirror", required)

            .form-group
              label(for="productPrice") Product Price:
              input(type="number", id="productPrice", name="price", class="form-control", placeholder="99", required)

            .form-group
              label(for="productImage") Product Image:
              input(type="text", id="productImage", name="imageUrl", class="form-control", placeholder="standingmirror.jpeg", required)

            button(type="submit", class="btn btn-dark mt-3") Add Product
  


